@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
*{
    text-align: center;
}
body{
    background-image: radial-gradient(circle,  lightgreen, burlywood, lightblue,transparent);
}
h1{
    font-family: 'Monoton', sans-serif;
    font-size: 7rem;
    text-align: center;
    color: darkblue;
    text-shadow: 0 0 80px lightyellow;
    padding: 0;
    margin: 0;
}
img{
    margin-bottom: 50px;
}
summary{
    font-family: 'Sofia', cursive;
    font-size: 3rem;
    border: double 5px lightcoral;
    width: fit-content;
    margin: 5px;
    color: darkblue;
    text-shadow: 0 0 80px brown;
    
}
p{
    font-size: 2rem;
    color: lightyellow;
    text-align: left;
}